# Copyright 2023 NXP
# SPDX-License-Identifier: Apache-2.0

config ADC_S32K144_ADC12
	bool "NXP S32 ADC SAR driver"
	default y
	depends on DT_HAS_NXP_S32K144_ADC12_ENABLED
	help
	  This option enables the NXP S32 ADC SAR driver.
